$body-bg: #121212f9;
$main-color: #0c9cf0;
$txt-color: #fff;
$header-bg:black;

$white: #fff;
$black: #000;

$box-shadow: rgba(3, 3, 3, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
