
.dropbtn {
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  
  .dropdown-content a,p {
    /* color: white; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 2rem;
  }
  
  /* .dropdown-content p:hover {background-color: #5554545c} */
  .dropdown-content a:hover {background-color: #5554545c;
color:red}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }