@use "../../scss/" as *;
body{
    background-color: $body-bg !important;
    color: $txt-color !important;
}
.dropbtn{
     border-radius: 10rem; 
     border-color: white; 
     border-width: 2px; 
     width: 50px; 
     height: 50px; 

     @include mobile{
        width: 30px;
        height: 30px;
     }
}
.dropdown-content {
    display: none;
    position: absolute;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(31, 30, 30);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:-90px;

    @include mobile{
        left:-120px;
        padding: .2rem;
    }
  }

.helperStyleMobile{
    display: none;

    @include mobile{
        display: block;
        width: 10%;
    }
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;

    @include flex(center, unset);

    img {
        margin-right: 10px;
        width: 50px;

        @include mobile {
            width: 30px;
            margin-right: 0;
        }
    }
}
// .color{
//     background-color: rgb(13; 191; 255);
// }
.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease background-color 0.3s ease;
    

    &.shrink {
        height: $header-shrink-height;
        // background-color: $header-bg;
        backdrop-filter: blur(10px);
        
        @include mobile{
            background-color: $header-bg;
            backdrop-filter: none;
        }
    }

    &__wrap {
        @include flex(center, space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile {
            justify-content: space-between;
        }
    }

    &__nav {
        @include flex(center, unset);

        & > * ~ * {
            margin-left: 2rem;
        }

        li {
            padding: 5px 0;
            font-weight: 700;
            position: relative;
            font-size: 1.5rem;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color: $main-color;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 5rem;
            width: 100%;
            background-color: $body-bg;
            padding: 0 2rem;
            box-shadow: $box-shadow;

            @include flex(center, space-between);

            & > * ~ * {
                margin-left: 0;
            }
        }
    }
}
